<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if description %}{{ description | safe }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.title }}{% else %}{{ title }} – {{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="{{ image }}">

  <meta name="generator" content="{{ eleventy.generator }}">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="{% if page.url == "/" %}{{ site.title }}{% else %}{{ title }} – {{ site.title }}{% endif %}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ image }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" as="style">

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" rel="stylesheet">


  <!-- Ionicons -->
  <link rel="preload" href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" as="style">

  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/css/main.css">

  <script>
    {% if site.color_scheme == "auto" %}
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
    {% endif %}
  </script>


<link rel="apple-touch-icon" sizes="180x180" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/favicon-16x16.png">
<link rel="manifest" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/site.webmanifest">
<link rel="shortcut icon" href="{% if site.env == 'prod' %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/assets/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


</head>
