<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>

  {# {% if site.env == 'prod' %}
    {% include "google-analytics.html" %}
  {% endif %} #}

  {% include "header.njk" %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content | safe }}
  </main>
  <!-- end content -->

  {% include "footer.njk" %}

  <script src="/js/scripts.js"></script>
  <script src="/js/common.js"></script>
</body>

</html>
