---
layout: default
---

<div class="post-head">
  <div class="container">
    <div class="row">

      {%if image %}
      <div class="col col-6 col-d-12">
        <div class="post-image">
          <img class="lazy" data-src="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}{{ image }}" alt="{{ title }}">
        </div>
      </div>
      {%endif %}

      <div class="col {% if video_embed %}col-12{% else %}col-6 col-d-12{% endif %}">
        <div class="post__info {{ videoInfo }}">

          <h1 class="post__title">{{ title }}</h1>

          <div class="post__meta">
            <a href="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/{{site.author.author__about}}/" class="post__author-image">
              <img class="lazy" data-src="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/{{ site.author.author__avatar }}" alt="{{ site.author.author__name }}">
            </a>

            <div class="post__meta-bottom">
              <a class="post__author" href="{% if site.env == "prod" %}{{ site.prod_url}}{% else %}{{site.dev_url}}{% endif %}/about/">{{ site.author.author__name }}</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- begin post -->
<div class="container animate">

  <article class="post">

    <div class="post__content">
      {{ content | safe }}
    </div>

    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__twitter"
            href="https://twitter.com/intent/tweet?text={{ title | safe }}&url={{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
        </li>
      </ul>
    </div>


  </article>
</div>
<!-- end post -->
